  <!-- ======= Footer ======= -->
  <footer id="footer" class="page-footer font-small pt-4">
    
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">In breve</h5>
          <p>
            Laureata con lode presso la facoltà di Medicina e Psicologia dell'Università degli Studi
            "La Sapienza" di Roma, dal 2017 è iscritta all'Albo degli Psicologi del Lazio con numero {{ site.data.contact.numero_albo_psicologi }}.</p>
          <p>
            Psicoterapeuta, specializzata in Psicoterapia Cognitivo-Comportamentale (CBT) presso l'APC/SPC di Roma.
          </p>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">Link utili</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <a class="text-uppercase" href="http://www.spaziocube.com/" target="_blank">Spazio CU.BE.</a>
              </p>
            </li>
            <li>
              <p>
                <a class="text-uppercase" href="http://www.apc.it/" target="_blank">APC</a>
              </p>
            </li>
            <li>
              <p>
                <a class="text-uppercase" href="https://cognitivismo.com/" target="_blank">Cognitivismo</a>
              </p>
            </li>
            <li>
              <p>
                <a class="text-uppercase" href="https://www.stateofmind.it/" target="_blank">State of Mind</a>
              </p>
            </li>
            <li>
              <p>
                <a class="text-uppercase" href="https://www.youtube.com/user/APCROMA" target="_blank">Cognitivvu</a>
              </p>
            </li>
          </ul>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Contatti</h5>
          <ul class="list-unstyled">
            <li>
              <p><i class="icofont-google-map"></i> {{ site.data.contact.address }}</p>
            </li>
            <li>
              <p><i class="icofont-google-map"></i> {{ site.data.contact.secondaryAddress }}</p>
            </li>
            <li>
              <p><i class="icofont-envelope"></i> {{ site.data.contact.email }}</p>
            </li>
            <li>
              <p><i class="icofont-phone"></i> {{ site.data.contact.phone }}</p>
            </li>
          </ul>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
          <h5 class="font-weight-bold text-uppercase mb-4">Privacy</h5>
          <a href="https://www.iubenda.com/privacy-policy/{{site.iubenda_cookie_policy_id}}" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a>
          <script type="text/javascript">
            (function (w,d) {
              var loader = function () {
                var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
                s.src="https://cdn.iubenda.com/iubenda.js";
                tag.parentNode.insertBefore(s,tag);
              };
              if (w.addEventListener) {
                w.addEventListener("load", loader, false);
              } else if(w.attachEvent) {
                w.attachEvent("onload", loader);
              } else {
                w.onload = loader;
              }
            })(window, document);
          </script>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
    </div>
    <!-- End Footer Links -->

    {% include sub-footer.html %}

  </footer>
  <!-- End Footer -->
