
<div class="container-fluid d-flex justify-content-between align-items-center">

  <h1 class="logo"><a href="index.html">ARIANNAVENTRELLI</a></h1>
  <!-- Uncomment below if you prefer to use an image logo -->
  <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

  <nav class="nav-menu d-none d-lg-block">
    <ul>
      <li class="{{ page.home }}"><a href="/">Home</a></li>
      <li class="{{ page.about }}"><a href="about">Chi sono</a></li>
      <li class="{{ page.resume }}"><a href="resume">Resume</a></li>
      <li class="{{ page.services }}"><a href="services">Servizi</a></li>
      <li class="{{ page.contact }}"><a href="contact">Contatti</a></li>
    </ul>
  </nav><!-- .nav-menu -->

</div>
