<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% if page.title %}{{ page.title }} {% else %} {{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Dott.ssa Arianna Ventrelli psicologa psicoterapeuta cognitivo-comportamentale a Roma, Centocelle, Tuscolano, si occupa di disturbi alimentari, anoressia, bulimia, sostegno alla genitorialità, rapporti genitori figli, disturbi psicologici e disagi familiari, psicoterapia per l'individuo e di coppia, consulenza rapporto genitori figli.">
  <meta name="keywords" content="psicologa, psicologo, psicoterapeuta, cognitivo-comportamentale, roma, colli aniene, centocelle, via tuscolana, tuscolano, anoressia, bulimia, anoressica, anoressico, bulimica, bulimico, disturbi alimentari, rapporto genitori figli, genitorialità, problemi familiari, disagi psicologici, disagio psicologico, problemi di coppia, problemi con i figli, disturbi d'ansia, depressione, disturbi dell'umore, disturbi sessuali, relazioni familiari, adolescenza, problemi adolescenziali, psicologia in gravidanza, relazione madre-bambino, psicoterapia, psicoterapia di coppia, terapia di coppia, psicoterapeuta di coppia, consulenza psicologica">
  <link rel="canonical" href="{{ site.url }}">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Kelly - v2.0.0
  * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  {% include iubenda-cookie-consent.html %}
</head>

<body>

  {% include header.html %}

  {{ content }} 

  {% include footer.html %}

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
